.introduction {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 0px;
    border-bottom: 2px solid #5980FA;
    position: relative;
}

.introduction:hover > .edit-section-button {
    display: block;
}
/* 

.personal-infos--edit-button {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 0;
    border-radius: 50%;
    border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.personal-infos--edit-button > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #5980FA;
} */
