.personalInfos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #5980FA;
    padding-bottom: 15px;
    position: relative;
}

.personalInfos--name-container {
    display: flex;
    flex-direction: column;
}

.personalInfos--contact {
    display: flex;
    flex-direction: column;
    text-align: end;
    list-style: none;
}

.personalInfos--contact li {
    font-size: 0.9em;
    display: flex;
    justify-content: flex-end;
    
}

.personalInfos--contact div {
    position: relative;
}

.personalInfos--contact img {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-60%);
    width: 17px;
    height: auto;
}

.personalInfos:hover > .edit-section-button {
    display: block;
}

